#main-title-aqua{
    font-family: source-sans-pro,sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 500%;
    color: #53DCDA;
    opacity: 80%;
}

#main-title-ponics{
    font-family: source-sans-pro,sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 500%;
    color: #98D650;
    opacity: 80%;
}

#texto-negrita{
    font-family: source-sans-pro,sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 200%;
}

#texto-negrita-puntos{
    font-family: source-sans-pro,sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 64%;
    margin-bottom: 0 !important;
    text-align: center;
}

#bloque{
    background-color: #47C2C280;    
    border-radius: 15px;
}

#inicio{
    background-image: url("../img/Principal.png");
    height: 100vh;
}

#btnInicio{
    font-family: source-sans-pro,sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 300%;
    margin-bottom: 0 !important;
    text-align: center;
}

#img{
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.bloque-puntos{
    background-color: #ffffff80;
    border-radius: 10px;
}

.pez{
    visibility:hidden;
    height: 80%;
    width: 80%;
}