#welcome-div{
    background-image: url("/images/Principal.png");
    background-size: cover;
}

#btn-start-game{
    font-family: source-sans-pro,sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 300%;
}